.shared-documents-list-container {
    position: absolute;
    right: 10vh;
    width: 40vw;
    height: 70vh;
    top: 15vh;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.documents-list {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    list-style: none;
    padding: 0;
    margin: 0;
}

.document-item {
    position: relative;
    display: flex;
    height: 8vh;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.document-item:last-child {
    border-bottom: none;
}

.document-name {
    font-weight: bold;
}

.document-status {
    font-style: italic;
    color: #888;
}

.download-button {
    position: absolute;
    bottom: 10%;
    left: 5%;
    width: 5%;
    height: 30%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.download-button:hover {
    background-color: #0056b3;
}

.download-button:active {
    transform: scale(0.9);
}

.access-button {
    width: 5vw;
    height: 3vh;
    background-color: #007bff;
    margin-bottom: 3vh;
    margin-left: 1vw;
    color: white;
}

.access-button:hover {
    background-color: #0056b3;
}

.access-button:active {
    transform: scale(0.9);
}
